.container {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card {
  flex-basis: 45%;
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid #eaeaea;
  text-align: center;
  position: relative;
  padding-bottom: 15vh;
}

.description {
  font-size: 1.5rem;
  min-height: 15vh;
}

.selectors {
  align-self: flex-end;
}

.selectors select {
  opacity: 0.8;
  border-radius: 3px;
  margin: 5px;
}

.card h6 {
  color: #99c47d;
  top: -1.5rem;
  left: 50%;
  width: 20vw;
  margin-left: -10vw;
  position: absolute;
}

.card ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  list-style: none;
}

.card ul li::before {
  content: '➡';
  position: absolute;
  left: 3%;
  color: grey;
}

.card ul li {
  font-size: 1.2rem;
  margin: 5px 0;
}

.card div {
  min-height: 15vh;
}

.card div p {
  font-size: 1rem;
}

.card div span {
  font-size: 1.5rem;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #0070f3;
}

.button {
  font-size: 0.9rem;
  background-color: #6880dc;
  border-radius: 5px;
  color: white;
  border: none;
  height: 5%;
  min-width: 15vw;
  max-width: 70vw;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -7.5vw;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .card {
    min-height: 100%;
    margin-bottom: 10px;
  }
  .card ul {
    margin-bottom: 50px;
  }
}
